@import "styles.css";

/* Creates outline of input field */
.form-control:focus,
.form-control:active {
    outline: 2px solid gray;
}

/* =================================================
                          Header
   ================================================= */

#configurable-page-header {
    position: relative;
}

/* =================================================
                          Body
   ================================================= */

#map {
    width: 75%;
    height: 100%;
    left: 0;
    position: absolute;
}

/*                Marker adder
   ============================================= */

#marker-adder-container {
    width: 25%;
    height: 100%;
    float: right;
    position: relative;
}

#marker-form {
    margin: 30px;
}

