@import "styles.css";

/* Creates outline of input field */
.form-control:focus,
.form-control:active {
    outline: 2px solid gray;
}

/* =================================================
                          Header
   ================================================= */

#configurable-page-header {
    position: relative;
}

/* =================================================
                          Body
   ================================================= */

#body-container {
    display: flex;
}

#map {
    flex: 1;
    min-width: 200px;
}

/*                Marker adder
   ============================================= */

#marker-adder-container {
    width: 400px;
    float: right;
    position: relative;
    background-color: #efefef;
}

#marker-form {
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    transition: border-color 0.3s ease-in-out;
    background-color: white;
    font-weight: 500;
}

/*           Parking details input
   -------------------------------------- */
label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

