@import "styles.css";

/* Creates outline of input field */
.form-control:focus,
.form-control:active {
    outline: 2px solid gray;
}

/* =================================================
                          Body
   ================================================= */

#map {
    width: 75%;
    height: 100%;
    float: left;
    margin-top: 4px;
}

/*                Marker adder
   ============================================= */

#marker-adder-container {
    width: 25%;
    height: 100%;
    float: right;
}

#marker-form {
    margin: 30px;
}

