body, html {
    height: 100%;
    font-family: var(--bs-font-sans-serif);
    overflow: hidden; /* Removes scroll behaviour */
}

html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

input {
    outline: none !important;
    border: none;
    background: transparent;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

*, ::after, ::before {
    box-sizing: inherit;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
    font-family: Ubuntu-Regular, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #999999;
    line-height: 1.4;
}

.txt2 {
    font-family: Ubuntu-Regular, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #0d6efd;
    line-height: 1.4;
}

.txt3 {
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #0d6efd;
    line-height: 1.4;
    text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background: url("../images/login-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrap-login100 {
    width: 550px;
    height: 750px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-top: -140px;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
    -o-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/*==================================================================
[ Form ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}


.login100-form {
    width: 100%;
    position: relative;
}

.p-r-55 {
    padding-right: 55px;
}

.p-l-55 {
    padding-left: 55px;
}

.p-t-178 {
    padding-top: 200px;
}

.login100-form-title {
    font-size: 33px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0d6efd;
    padding-top: 50px;
    padding-bottom: 39px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;
}

.input100 {
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: black;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;
}

.m-b-16 {
    margin-bottom: 16px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 {
    width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 55px;
    background-color: #0d6efd;
    border-radius: 25px;

    font-family: Ubuntu-Bold, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #0f3a7c;
    cursor: pointer;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 1000;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;

    font-family: Ubuntu-Bold, sans-serif;
    color: #c80000;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome, sans-serif;
    display: block;
    position: absolute;
    z-index: 1100;
    color: #c80000;
    font-size: 16px;
    font-weight: 700;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 576px) {
    .login100-form {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*------------------------------------------------------------------
[ Others ]*/

.p-b-9 {
    padding-bottom: 9px;
}

.p-b-23 {
    padding-bottom: 23px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-t-170 {
    padding-top: 170px;
}

.text-right {
    text-align: right !important;
}

.flex-col-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    color: #545454;
    margin: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #0f3a7c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.form-error {
    padding-top: 10px;
    color: red;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

/* Remove light-blue background in autocomplete input */
input:-webkit-autofill {
    -webkit-background-clip: text;
}