@media only screen and (max-width: 991px) {
    #submit-button {
        height: 37.8px;
    }
}

@media only screen and (max-width: 767px) {

    #search-input {
        order: 1;
        width: 70%;
    }

    #submit-button {
        order: 2;
        width: auto;
        height: 37.8px;
    }

    #date-and-time {
        order: 3;
        clear: both;
        display: block;
        width: 100%;
    }

    #date-from {
        position: absolute;
        width: 43%;
        padding-top: 8px;
    }

    #date-to {
        position: relative;
        margin-left: 53%;
        width: 47%;
        padding-top: 8px;
    }
}

/* TODO: Add new mobile menu tab for the list of parkings. */
@media only screen and (max-width: 639px) {
    #map {
        width: 100%;
    }

    #parks-list {
        display: none;
    }

    #date-from {
        width: 45%;
    }

    #date-to {
        width: 55%;
        margin-left: 50%;
    }
}

/* Additional settings for devices with narrower screens */
@media only screen and (max-width: 511px) {
    #search-input {
        width: 60%;
    }
}

@media only screen and (max-width: 394px) {
    #search-input {
        width: 50%;
    }
}