@media only screen and (max-width: 1400px) {
    #map {
        width: 65%;
        margin-top: 63px;
    }

    #parks-list {
        width: 35%;
        margin-top: 63px;
    }
}

@media only screen and (max-width: 991px) {
    #map {
        width: 60%;
        margin-top: 131px;
    }

    #parks-list {
        width: 40%;
        margin-top: 131px;
    }

    #submit-button {
        height: 37.8px;
    }
}

@media only screen and (max-width: 884px) {
    #map {
        margin-top: 130px;
    }

    #parks-list {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 837px) {
    #map {
        margin-top: 130px;
    }

    #parks-list {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 837px) {
    #map {
        margin-top: 129px;
    }

    #parks-list {
        margin-top: 129px;
    }
}

@media only screen and (max-width: 767px) {
    #map {
        margin-top: 182px;
    }

    #parks-list {
        margin-top: 182px;
    }

    #search-input {
        order: 1;
        width: 70%;
    }

    #submit-button {
        order: 2;
    }

    #date-and-time {
        order: 3;
        clear: both;
        display: block;
        width: 100%;
    }

    #date-from {
        position: absolute;
        width: 43%;
    }

    #date-to {
        position: relative;
        margin-left: 53%;
        width: 47%;
    }

    #submit-button {
        width: auto;
        height: 37.8px;
    }
}

@media only screen and (max-width: 746px) {
    #map {
        width: 60%;
        margin-top: 182px;
    }

    #parks-list {
        width: 40%;
        margin-top: 182px;
    }
}

@media only screen and (max-width: 608px) {
    #map {
        margin-top: 181px;
    }

    #parks-list {
        margin-top: 181px;
    }
}

/* TODO: Add new mobile menu tab for the list of parkings. */
@media only screen and (max-width: 534px) {
    #map {
        width: 100%;
        margin-top: 180px;
    }

    #parks-list {
        display: none;
    }

    #date-from {
        width: 45%;
    }

    #date-to {
        width: 55%;
        margin-left: 50%;
    }
}

/* Additional settings for devices with narrower screens */
@media only screen and (max-width: 511px) {
    #search-input {
        width: 60%;
    }
}

@media only screen and (max-width: 421px) {
    #map {
        margin-top: 179px;
    }
}

@media only screen and (max-width: 394px) {
    #search-input {
        width: 50%;
    }
}

@media only screen and (max-width: 333px) {
    #map {
        margin-top: 179px;
    }
}

@media only screen and (max-width: 255px) {
    #map {
        margin-top: 311px;
    }
}