:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    max-width: 1920px;
}

#map {
    width: 70%;
    height: 100%;
    margin-top: 63px;
    float: left;
}

#parks-list {
    width: 30%;
    height: 100%;
    margin-top: 63px;
    float: right;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html, body {
    height: 100%;
}

header {
    display: block;
    height: 58px; /* It should be same as #map.margin-top */
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* HTML marker styles */
.price-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
}

.price-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
}

[class$=api-load-alpha-banner] {
    display: none;
}

#search-input {
    width: 30%;
    float: left;
}

#date-and-time {
    width: 40%;
    float: left;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 0;
    position: static;
    z-index: auto;
    padding-left: 10px;
}

#time-from {
    margin-left: -10px;
}

#submit-button {
    width: 10%;
    float: left;
    margin-left: 18px;
}

#login-register {
    width: 20%;
    float: right;
}

#second-header {
    padding-top: 5px;
}

.form-control {
    font-weight: bold;
}