:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* =================================================
                          Header
   ================================================= */

.container {
    max-width: 100%;
}

html, body {
    height: 100%;
}

header {
    display: block;
    height: 59px;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

#main-header-div {
    position: relative;
    background-color: #f7f7f7;
}

li {
    font-size: 17px;
}

.search-input-container {
    width: 60%;
    float: left;
}

#input {
    background-color: #f7f7f7;
    border: 1px solid #d8d8d8;
}

#date-and-time {
    width: 30%;
    float: left;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 0;
    position: static;
    z-index: auto;
    padding-left: 10px;
}

#date-to {
    margin-left: -10px;
}

#submit-button {
    width: 10%;
    float: left;
    margin-left: 18px;
}

#second-header {
    padding-top: 5px;
}

.form-control {
    font-weight: bold;
}

/* Removes outline of input field */
.form-control:focus,
.form-control:active {
    outline: none;
    box-shadow: none;
    border: none;
}

/* =================================================
                          Body
   ================================================= */

#body-container {
    display: flex;
}

#map {
    flex: 1;
    min-width: 200px;
}

/*             Custom advanced marker styles
   ============================================= */

.price-tag {
    background: #fff;
    border-radius: 16px;
    -webkit-box-shadow: 0 2px 6px rgb(86 78 117 / 50%);
    box-shadow: 0 2px 6px rgb(86 78 117 / 50%);
    cursor: pointer;
    margin-bottom: 4px;
    padding: 6px 8px;
    position: relative;
    -webkit-transition: background .25s ease-in-out, color .25s ease-in-out;
    transition: background .25s ease-in-out, color .25s ease-in-out;
    width: -moz-fit-content;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: Nunito, Avenir, sans-serif;
}

.price-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000229;
}

.price-tag:hover {
    background-color: #000229;
    color: #fff;
}

.yNHHyP-marker-view {
    border: none;
    outline: none;
}

/*             Parkings list styles
   ============================================= */

#parks-list {
    width: 400px;
    float: right;
    top: 0;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    background-color: #efefef;
}

#parking-space {
    width: 95%;
    height: 120px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
}

#parking-space:hover {
    box-shadow: 0 3px 4px 0 rgb(151 151 151 / 30%);
    cursor: pointer;
}

.parking-details {
    margin-left: 5px;
}

.empty-parkings-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.parking-address {
    font-family: Nunito, Avenir, sans-serif;
    font-size: 14px;
    font-weight: 550;
    color: #212121;
}

.parking-reservable {
    color: #1fa637;
    font-weight: 500;
    font-size: 14px;
    margin-top: 2px;
}

#parking-details-row {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    white-space: normal;
    margin-top: 5px;
}

#parking-distance, #price-wrapper {
    color: #293038;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    position: relative;
    white-space: nowrap;
}

.to-destination, .parking-fee, .total-duration {
    color: gray;
    font-size: 13px;
    font-weight: 500;
}

/*            Details for parking space
   ============================================= */

.detailed-park-information {
    width: 97%;
    height: 97%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    position: relative;
    display: none;
}

.parking-details-close {
    background: url(https://svgshare.com/i/pob.svg) 50% 50% no-repeat;
    background-size: 40%;
    border-radius: 20px;
    cursor: pointer;
    height: 14px;
    padding: 15px;
    pointer-events: all;
    position: absolute;
    right: 14px;
    width: 14px;
    z-index: 999;
}

.location-details {
    width: 100%;
    height: 100px;
    margin-top: 25px;
}

.standout-details {
    display: flex;
    background-color: #f9f9f9;
    width: 100%;
    height: 100px;
    border-radius: 8px;
}

.standout-details-element {
    display: inline-block;
    width: 33.33%;
    margin: 5px;
    text-align: center;
}

#standout-price, #parking-fee-id {
    border-right: 1px solid #cdd3db;
    border-left: 1px solid #cdd3db;
}

#standout-duration, #standout-price, #standout-to-destination {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.location-information-menu {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
}

.info-navigation-element {
    display: inline-block;
    width: 33.33%;
    margin: 5px;
    text-align: center;
    font-size: 19px;
    color: #999;
    cursor: pointer;
}

#location-information {
    margin-top: 20px;
    color: black;
    font-size: 18px;
}

#reservation-details, #directions-details {
    display: none;
}

#directions-button {
    display: flex;
    margin: auto;
}

.reservation-button-class {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#reservation-button, #reserved-button {
    width: 90%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: none;
}

/*          Parkings list scrollbar style
   ============================================= */

/* change the color of the scrollbar */
::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

/* change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, 0.2);
}