:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* =================================================
                          Header
   ================================================= */

.container {
    max-width: 100%;
}

html, body {
    height: 100%;
}

header {
    display: block;
    height: 59px;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

#main-header-div {
    position: relative;
}

li {
    font-size: 17px;
}

.search-input-container {
    width: 60%;
    float: left;
}

#date-and-time {
    width: 30%;
    float: left;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 0;
    position: static;
    z-index: auto;
    padding-left: 10px;
}

#date-to {
    margin-left: -10px;
}

#submit-button {
    width: 10%;
    float: left;
    margin-left: 18px;
}

#second-header {
    padding-top: 5px;
}

.form-control {
    font-weight: bold;
}

/* Removes outline of input field */
.form-control:focus,
.form-control:active {
    outline: none;
    box-shadow: none;
    border: none;
}

/* =================================================
                          Body
   ================================================= */

#body-container {
    display: flex;
}

#map {
    flex: 1;
    min-width: 200px;
}

/*             Custom advanced marker styles
   ============================================= */

.price-tag {
    background: #fff;
    border-radius: 16px;
    -webkit-box-shadow: 0 2px 6px rgb(86 78 117 / 50%);
    box-shadow: 0 2px 6px rgb(86 78 117 / 50%);
    cursor: pointer;
    margin-bottom: 4px;
    padding: 6px 8px;
    position: relative;
    -webkit-transition: background .25s ease-in-out, color .25s ease-in-out;
    transition: background .25s ease-in-out, color .25s ease-in-out;
    width: -moz-fit-content;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: Nunito, Avenir, sans-serif;
}

.price-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000229;
}

.price-tag:hover {
    background-color: #000229;
    color: #fff;
}

.yNHHyP-marker-view {
    border: none;
    outline: none;
}

/*             Parkings list styles
   ============================================= */

#parks-list {
    width: 400px;
    float: right;
    top: 0;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    background-color: #efefef;
}

#parking-space {
    width: 95%;
    height: 15%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #e3e3e3;;
    border-radius: 8px;
}

/*          Parkings list scrollbar style
   ============================================= */

/* change the color of the scrollbar */
::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

/* change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, 0.2);
}