<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ParkFinder</title>
    <link rel="icon" th:href="@{/images/Icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/configurable-map.css}"/>
    <link rel="stylesheet" th:href="@{/css/configurable-map-responsive-design.css}"/>

</head>
<header>
    <div id="configurable-page-header">
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <h2 id="logo">
                            ParkFinder
                        </h2>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#table"></use>
                                </svg>
                                Help
                            </a>
                        </li>
                        <li>
                            <div>
                                <a href="/reservation/all" class="nav-link text-white">
                                    <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                        <use xlink:href="#grid"></use>
                                    </svg>
                                    List of Reservations
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="/logout" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#grid"></use>
                                </svg>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
<div id="body-container">
    <div id="map"></div>
    <div id="marker-adder-container">
        <div id="marker-form">
            <form th:action="@{/configureMarkers}" th:object="${marker}" method="post">
                <div class="form-outline mb-4">
                    <div>
                        <label class="form-label" for="address-input">Address</label>
                        <input th:field="*{address}" type="text" id="address-input"
                               class="form-control" maxlength="40"
                               placeholder="Click on map to get the address"/>
                    </div>
                    <p style="color: red"
                       th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div>

                <div class="form-outline mb-4">
                    <label for="details">Details about the parking:</label>
                    <textarea th:field="*{detailedInformation}"
                              id="details" name="details" maxlength="490"
                              rows="5" cols="53"></textarea>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="price-input">Price</label>
                    <input th:field="*{priceTag}" type="text" id="price-input"
                           class="form-control"/>
                    <p style="color: red"
                       th:if="${#fields.hasErrors('priceTag')}" th:errors="*{priceTag}"></p>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="parkSize">Parking Size</label>
                    <input th:field="*{parkSize}" type="text" id="parkSize"
                           class="form-control"/>
                    <p style="color: red"
                       th:if="${#fields.hasErrors('parkSize')}" th:errors="*{parkSize}"></p>
                </div>

                <button type="submit" id="add-parking-button"
                        class="btn btn-success btn-block mb-4">
                    Add Park Location
                </button>

                <button type="button" id="update-parking-button" style="display: none"
                        class="btn btn-warning btn-block mb-4">
                    Update parking
                </button>

                <input th:field="*{placeId}" type="hidden" id="place-id" class="form-control"/>
                <input th:field="*{latitude}" type="hidden" id="lat-input" class="form-control"/>
                <input th:field="*{longitude}" type="hidden" id="lng-input" class="form-control"/>
            </form>
            <div th:if="${duplicateError}" class="alert alert-danger">
                <p th:text="${duplicateError}"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/indexPageMapLoader.js}"></script>
<script type="text/javascript" th:src="@{/js/configurableMapLoader.js}"></script>
<script type="text/javascript" th:src="@{/js/responsiveContentConfigurablePage.js}"></script>

<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeS792gy-w5f2j2JRtIQmml5qZe3WmvuY&callback=initMap&libraries=marker,places&v=beta"
        async defer>
</script>
</body>
</html>
