<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ParkFinder</title>
    <link rel="icon" th:href="@{/images/Icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" th:href="@{/css/configurable-map.css}"/>
    <link rel="stylesheet" th:href="@{/css/configurable-map-responsive-design.css}"/>
    <script type="text/javascript" th:src="@{/js/indexPageMapLoader.js}"></script>
    <script type="text/javascript" th:src="@{/js/configurableMapLoader.js}"></script>

</head>
<header>
    <div id="configurable-page-header">
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <h2 id="logo">
                            ParkFinder
                        </h2>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#table"></use>
                                </svg>
                                Help
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#grid"></use>
                                </svg>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
<div id="body-container">
    <div id="map"></div>
    <div id="marker-adder-container">
        <div id="marker-form">
            <form th:action="@{/configureMarkers}" th:object="${marker}" method="post">
                <div class="form-outline mb-4">
                    <label class="form-label" for="address-input">Address</label>
                    <input th:field="*{address}" type="text" id="address-input"
                           class="form-control" readonly/>
                </div>
                <div class="form-outline mb-4">
                    <div class="input-group date">
                        <input th:field="*{dateFrom}" class="form-control" type="datetime-local"
                               id="config-date-from" placeholder="Set parking time from">
                    </div>
                    <p th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}"></p>
                </div>
                <div class="form-outline mb-4">
                    <div class="input-group date">
                        <input th:field="*{dateTo}" class="form-control" type="datetime-local"
                               id="config-date-to" placeholder="Set parking time to">
                    </div>
                    <p th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"></p>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="price-input">Price</label>
                    <input th:field="*{priceTag}" type="text" id="price-input"
                           class="form-control"/>
                    <p th:if="${#fields.hasErrors('priceTag')}" th:errors="*{priceTag}"></p>
                </div>
                <button type="submit" class="btn btn-success btn-block mb-4">Add Park Location
                </button>
                <input th:field="*{latitude}" type="hidden" id="lat-input" class="form-control"/>
                <input th:field="*{longitude}" type="hidden" id="lng-input" class="form-control"/>
            </form>
            <div th:if="${duplicateError}" class="alert alert-danger">
                <p th:text="${duplicateError}"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/responsiveContentConfigurablePage.js}"></script>

<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPBjwslCsB5pffDskDq-2EfEgzJec_UqI&callback=initMap&libraries=marker,places&v=beta"
        async defer>
</script>
<!-- FlatPickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript" th:src="@{/js/configurationPagedateTimePicker.js}"></script>
</body>
</html>
