<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="icon" th:href="@{/images/Icon.png}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
</head>

<header>
    <div id="main-header-div-directions">
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <h2 id="logo">
                            ParkFinder
                        </h2>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#table"></use>
                                </svg>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form th:action="@{/process_register}" th:object="${user}" method="post"
                  class="login100-form validate-form p-l-55 p-r-55 p-t-178">

                <span class="login100-form-title">Registration</span>
                <div class="wrap-input100 validate-input m-b-16"
                     data-validate="Please enter valid email">
                    <input class="input100" th:field="*{email}"
                           type="text"
                           name="email"
                           placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16"
                     data-validate="Please enter username">
                    <input class="input100" th:field="*{username}"
                           type="text"
                           name="username"
                           placeholder="Username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input"
                     data-validate="Password is too weak">
                    <input class="input100" th:field="*{password}"
                           type="password"
                           name="password"
                           placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="form-error" th:if="${userExistsMessage}">
                    <p th:text="${userExistsMessage}"></p>
                </div>

                <div id="role" class="wrapper">
                    <input type="radio" id="option-1" name="role" th:field="*{roles}"
                           th:value="'USER'" th:checked="true" checked>
                    <label id="option-1-label" for="option-1" class="option option-1">
                        <span>User</span>
                    </label>

                    <input type="radio" name="role" id="option-2" th:field="*{roles}"
                           th:value="'ADMIN'">
                    <label for="option-2" class="option option-2">
                        <span>Admin</span>
                    </label>
                </div>

                <div id="role-error" class="form-error" th:if="${emptyRole}">
                    <p th:text="${emptyRole}"></p>
                </div>

                <div class="container-login100-form-btn">
                    <input type="submit" class="login100-form-btn" value="Register">
                </div>

                <div class="flex-col-c p-t-170 p-b-40">
                    <span class="txt1 p-b-9">Have an account?</span>
                    <a href="/login" class="txt3">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/formValidation.js}"></script>
</body>
</html>