<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/images/Icon.png}">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/successful-registration.css}"/>
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form action="/login" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <span class="login100-form-title">Registration Successful</span>
                <div class="container-login100-form-btn">
                    <a href="/login" class="login100-form-btn">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>