<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Parking Reservations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="icon" th:href="@{/images/Icon.png}">
    <link rel="stylesheet" th:href="@{/css/reservations.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive-design.css}"/>
</head>

<header>
    <div id="main-header-div">
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <h2 id="logo">
                            ParkFinder
                        </h2>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#table"></use>
                                </svg>
                                Help
                            </a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <div sec:authorize="hasAuthority('ADMIN')">
                                <a href="/configureMarkers" class="nav-link text-white">
                                    <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                        <use xlink:href="#grid"></use>
                                    </svg>
                                    Admin Panel
                                </a>
                            </div>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/logout" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#grid"></use>
                                </svg>
                                Logout
                            </a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a href="/login" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#grid"></use>
                                </svg>
                                Login
                            </a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a href="/register" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Register
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Customer name</th>
                        <th class="column2">Plate Number</th>
                        <th class="column3">Total Cost</th>
                        <th class="column4">Date From</th>
                        <th class="column5">Date To</th>
                        <th class="column6">Total Duration</th>
                        <th class="column7">Parking Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation : ${reservations.page.content}">
                        <td class="column1"
                            th:text="${reservation.customer != null ? reservation.customer.getUsername() : 'Guest'}"></td>
                        <td class="column2" th:text="${reservation.plateNumber.toUpperCase()}"></td>
                        <td class="column3"
                            th:text="${#numbers.formatCurrency(reservation.totalCost).replace('¤','$')}"></td>
                        <td class="column4"
                            th:text="${#temporals.format(reservation.dateFrom, 'dd MMM yyyy HH:mm')}"></td>
                        <td class="column5"
                            th:text="${#temporals.format(reservation.dateTo, 'dd MMM yyyy HH:mm')}"></td>
                        <td class="column6" th:text="${reservation.totalDuration}"></td>
                        <td class="column7" th:text="${reservation.marker.address}"></td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <nav aria-label="Page navigation" class="paging">
                    <ul class="custom-pagination"
                        th:if="${reservations.page.totalPages > 0}">
                        <li class="page-item"
                            th:classappend="${!reservations.paging.isPrevEnabled() ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/reservation/all(pageNumber=${reservations.paging.pageNumber - 1})}"
                               tabindex="-1">Previous</a>
                        </li>
                        <th:block th:each="item : ${reservations.paging.getItems()}">
                            <li class="page-item"
                                th:classappend="${item.index == reservations.paging.pageNumber ? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link"
                                   th:href="@{/reservation/all(pageNumber=${item.index})}"
                                   th:text="${item.index}">
                                </a>
                            </li>
                            <li class="page-item disabled"
                                th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item"
                            th:classappend="${!reservations.paging.isNextEnabled() ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/reservation/all(pageNumber=${reservations.paging.pageNumber + 1})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>
