<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Successful Reservation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="icon" th:href="@{/images/Icon.png}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <div class="border border-3 border-success"></div>
        <div class="card  bg-white shadow p-5">
            <div class="mb-4 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                     fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0
                            0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>
            </div>
            <div class="text-center">
                <h1>Reservation Successful !</h1>
                <p>
                    Your reservation has been confirmed, thanks for choosing our parking services!
                </p>
                <a href="/" class="btn btn-outline-success">Back Home</a>
                <button onclick="redirectToDirectionsPage()"
                        class="btn btn-outline-success">
                    Show directions
                </button>
            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    let placeId = [[${parking.placeId}]]; // Getting Model Attribute data

    function redirectToDirectionsPage() {
        window.open(`/directions?placeId=${placeId}`, "_self");
    }
</script>

</html>